/* RGB */


/* $color1: rgba(230, 57, 70, 1);
$color2: rgba(241, 250, 238, 1);
$color3: rgba(168, 218, 220, 1);
$color4: rgba(69, 123, 157, 1);
$color5: rgba(29, 53, 87, 1); */

body {
    background-color: rgba(29, 53, 87, 1);
    font-family: 'Cabin', sans-serif;
    margin: 50px;
}

p {
    color: rgba(230, 57, 70, 1);
}

h1 {
    color: rgba(168, 218, 220, 1);
}

h2 {
    color: rgba(69, 123, 157, 1);
}

h3 {
    color: white;
}

.title-text {
    align-content: center;
    vertical-align: center;
    text-align: center;
    padding: 0px 0px 50px 0px;
}

#left-col {
    float: left;
}

#right-col {
    float: right;
}

.header-box {
    background-color: rgba(69, 123, 157, 1);
    height: 200px;
    width: 90%;
    margin: auto;
    /* width: 50%; */
    /* border: 3px solid green; */
}